:root {
  --primary-color: #3498db;
}

.btn {
  color: var(--primary-color) !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }
}
